<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="EuroSrv14Prod" providerName="System.Data.SqlClient" connectionString="Data Source=eurosrv14.euroinvestor.com;UID=EuroInvestor;PWD=moneymoneymoney;Initial Catalog=EuroInvestorStockDB"/>
    <add name="EuroDev" providerName="System.Data.SqlClient" connectionString="Data Source=eurodevsql.euroinvestor.com;UID=EuroInvestor;PWD=moneymoneymoney;Initial Catalog=EuroInvestorStockDB"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>