<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add
        key="currencypath"
        value="http://marketdata.websol.barchart.com/getQuote.xml?key=2dc64a73f0d7f9dc98df4b45dd5ee56c&amp;symbols=^USDUSD,^USDEUR,^USDGBP,^USDINR,^USDAUD,^USDCAD,^USDSGD,^USDCHF,^USDMYR,^USDJPY,^USDCNY,^USDNZD,^USDTHB,^USDHUF,^USDAED,^USDHKD,^USDMXN,^USDZAR,^USDPHP,^USDSEK,^USDIDR,^USDSAR,^USDBRL,^USDTRY,^USDKRW,^USDEGP,^USDIQD,^USDNOK,^USDKWD,^USDRUB,^USDDKK,^USDILS,^USDPLN,^USDQAR,^USDOMR,^USDTWD,^USDCZK,^USDMAD,^USDJOD,^USDBHD,^USDTND,^USDRON,^USDHRK,^USDDZD,^USDIRR,^USDISK,^USDSYP,^USDLYD,^USDLBP,^USDYER,^USDCNH"
    />
    <add
       key="Commoditypath"
       value="http://marketdata.websol.barchart.com/getQuote.xml?key=2dc64a73f0d7f9dc98df4b45dd5ee56c&amp;symbols=^XAUUSD,^XAGUSD"
    />
  </appSettings>
  
  <connectionStrings>
    <add name="Production" connectionString="Data Source=34.248.126.133;UID=SqlPublic;PWD=Jn51ZR%!IzIS$vbN;Initial Catalog=EuroInvestorStockDB" />
  </connectionStrings>
    
    <startup> 
      
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
        
    </startup>
</configuration>